<h1>Hello World, Again!</h1>

<form action="users#new" method="get" accept-charset="UTF-8">

<label name="email"> Email: </label>
<input type="email"> name="email">

<label name="username"> Username: </label>
<input type="text" name="username">

<label name="password"> Password: </label>
<input type="password" name="password"> 



 <input type="submit" value="Submit">
</form>
